.create-group {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
  box-sizing: border-box;
  border: 1px dotted lightgrey;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

.create-group button {
  margin: 3%;
}
