.group-chat {
  height: 95vh;
  width: 70%;
  background-color: rgb(54, 70, 93);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.post-box {
  height: 73vh;
  width: 100%;
  background-color: rgb(54, 70, 93);
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  margin: 2%;
}

.group-header {
  height: 5vh;
  width: 100%;
  background-color: rgb(54, 70, 93);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FAFAFA;
}

.group-header h2 {
  color: white;
  font-size: 1em;
  margin-left: 10%;
}

.group-header p {
  color: white;
  font-size: .7em;
  margin-right: 1%;
}

.group-header div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/*  overflow: scroll;
*/  color: white;
}
