.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0 2% 0;
}

.profile img {
  height: 18vh;
  width: 35%;
  border-radius: 5em;
  border: 1px solid black;
  text-align: center;
}

.edit-user {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.user-info p {
  font-size: .8em;
}

.edit-prof {
  height: 15vh;
  width: 100%;
  box-sizing: border-box;
  border: 1px dotted lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
