.my-post {
  width: 69%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 2% 0 30%;
  border-radius: 1em;
}

.my-post button {
  margin-left: 2%;
}

#prof-pic {
  width: 22%;
  height: 20vh;
  border-radius: 5em;
  margin: 1%;
}

.post-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.post-content img {
  height: 25vh;
  width: 55%;
  margin-bottom: 5%;
}
