.log-out {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-out button {
  height: 5vh;
  width: 50%;
  border-style: none;
  font-size: 1em;
  color: white;
}
